.details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;

    & h1 {
        font-size: clamp(18px, 1.6vw, 32px);
        max-width: 1300px;
        max-height: 500px;
        overflow-y: scroll;
        word-break: break-all;

        @media (max-width: 767px) {
            max-height: 360px;
        }
    }
}